# Reading and Printing Excel Data using Pandas in Python

In [1]:
# Import the pandas library for data manipulation and analysis
import pandas as pd

# Read the Excel file "DataDemo1.xlsx" and store the data in a variable called excelData
excelData = pd.read_excel("DataDemo1.xlsx")

# Print the contents of the excelData variable, which will display the data from the Excel file
excelData

           Name  Matches   Runs
0   Virat Kohli      230  26000
1  Rohit Sharma      180  18000
2      MS Dhoni      340  32000

# Reading and Printing CSV Data using Pandas in Python

In [2]:
# Import the pandas library for data manipulation and analysis
import pandas as pd

# Read the CSV file "DataDemo1.csv" and store the data in a variable called csvData
csvData = pd.read_csv("DataDemo1.csv")

# Print the contents of the csvData variable, which will display the data from the CSV file
csvData

           Name  Matches    Runs
0   Virat Kohli      230  26,000
1  Rohit Sharma      180  18,000
2      MS Dhoni      340  32,000