In [1]:
import numpy as np
import pandas as pd

In [2]:
s1 = pd.Series(np.random.randn(5), index=["a", "b", "c", "d", "e"])

s1

a    1.133622
b   -0.736415
c    0.208050
d   -1.517578
e    1.083806
dtype: float64

In [3]:
s2 = pd.Series(np.random.randn(6), index=["a", "b", "c", "d", "e", "f"])

s2

a   -2.558379
b   -0.684006
c   -0.441423
d   -0.605079
e   -0.967288
f   -0.964517
dtype: float64

In [4]:
s3 = pd.Series(np.random.randn(3))

s3

0   -0.278729
1    1.096874
2   -1.330687
dtype: float64

In [5]:
dict = {"b":1, "a":0, "c":2}

pd.Series(dict)

b    1
a    0
c    2
dtype: int64

In [6]:
dict1 = {"b":1, "a":0, "c":2, "d":np.nan}

pd.Series(dict1)

b    1.0
a    0.0
c    2.0
d    NaN
dtype: float64

In [7]:
# nan = null value

In [8]:
# Create one dictionary
dict2 = {"a":1, "B":3, "D":5, "A":7}

# Convert this in Series
series2 = pd.Series(dict2)

#Print the series
series2

a    1
B    3
D    5
A    7
dtype: int64

In [9]:
# Create oe Dictionary

dict3 = {"Name":"Aayush", "Age":20, "Marks":"250"}

# Convert this in Series

series3 = pd.Series(dict3)

# Print the Series

#You can also use (print)
series3

Name     Aayush
Age          20
Marks       250
dtype: object

In [10]:
# Create the dictionary with NaN
dict4 = {"Name":np.nan,"Age":27, "Marks":280}

# Convert it into series

series4 = pd.Series(dict4)

series4

Name       NaN
Age       27.0
Marks    280.0
dtype: float64