In [1]:
# Importing numpy library for numerical computations
import numpy as np

# Importing pandas library for data manipulation and analysis
import pandas as pd

In [2]:
# Creating a Series with random values
series = pd.Series(np.random.randn(5), index=["a", "b", "c", "d", "e"])

# Outputting the Series
series

a    0.756201
b    1.468517
c   -0.947335
d    0.002556
e   -0.141201
dtype: float64

In [3]:
# Creating a Series with random values
series = pd.Series(np.random.randn(6), index=["a", "b", "c", "d", "e", "f"])

# Outputting the Series
series

a    0.830969
b   -0.470107
c   -0.208863
d    1.089805
e   -0.051070
f    0.552920
dtype: float64

In [4]:
# Creating a Series with random values
series = pd.Series(np.random.randn(3))

# Outputting the Series
series

0   -0.341890
1    0.747053
2    1.331001
dtype: float64

In [5]:
# Creating a Series from a dictionary
dict = {"b": 1, "a": 0, "c": 2}
series = pd.Series(dict)

# Outputting the Series
series

b    1
a    0
c    2
dtype: int64

In [6]:
# Creating a Series from a dictionary
dict = {"b": 1, "a": 0, "c": 2, "d": np.nan}
series = pd.Series(dict)

# Outputting the Series
series

# NaN = null value

b    1.0
a    0.0
c    2.0
d    NaN
dtype: float64

In [7]:
# Creating a Series from a dictionary
dict = {"a": 1, "B": 3, "D": 5, "A": 7}
series = pd.Series(dict)

# Outputting the Series
series

a    1
B    3
D    5
A    7
dtype: int64

In [8]:
# Creating a Series from a dictionary
dict = {"Name": "Nisarg", "Age": 20, "Marks": "250"}
series = pd.Series(dict)

# Outputting the Series
series

Name     Nisarg
Age          20
Marks       250
dtype: object

In [9]:
# Creating a Series from a dictionary
dict = {"Name": np.nan, "Age": 27, "Marks": 280}
series = pd.Series(dict)

# Outputting the Series
series

Name       NaN
Age       27.0
Marks    280.0
dtype: float64