In [1]:
# Importing numpy library for numerical computations
import numpy as np

# Importing pandas library for data manipulation and analysis
import pandas as pd

In [2]:
# Single Dimentional Data Structure
a = [1, 2, 3, 4, 5]

In [3]:
b = np.random.randn(5)
series1 = pd.Series(b)
series1

0   -0.459196
1    0.343915
2    0.739332
3    2.489783
4    0.222081
dtype: float64

In [4]:
# Operations on list
# Create a list
A = [1, 2, 3, 4, 5]

# Convert the list into an array
arr = np.array(A)

# Convert the array into a series
series2 = pd.Series(arr)

series2

0    1
1    2
2    3
3    4
4    5
dtype: int32

In [5]:
# Perform the Arithmatics operations on Series
# Addition 
Add = series2 + 10
Add

0    11
1    12
2    13
3    14
4    15
dtype: int32

In [6]:
# Perform the Arithmatics operations on Series
# Multiplication 
Mul = series2 * 20
Mul

0     20
1     40
2     60
3     80
4    100
dtype: int32

In [7]:
# Perform the Arithmatics operations on Series
# Substraction 
Sub = series2 - 5
Sub

0   -4
1   -3
2   -2
3   -1
4    0
dtype: int32

In [8]:
# Perform the Arithmatics operations on Series
# Divison 
Div = series2 / 2
Div

0    0.5
1    1.0
2    1.5
3    2.0
4    2.5
dtype: float64

In [9]:
# Try some malfunctioning Operations
# Add a String in list

list_1 = [10, "Abc", 20, 30]
print(list_1)

# Converting in array
array_2 = np.array(list_1)
print(array_2)

# Convert it into series
series4 = pd.Series(array_2)
print(series4)

[10, 'Abc', 20, 30]
['10' 'Abc' '20' '30']
0     10
1    Abc
2     20
3     30
dtype: object