# Read excel file (xlsx) using pandas

In [8]:
import pandas as pd

In [9]:
excelData = pd.read_excel("DataDemo1.xlsx")

In [10]:
excelData

           Name  Matches   Runs
0   Virat Kohli      230  26000
1  Rohit Sharma      180  18000
2      MS Dhoni      340  32000

# Read excel file (csv) using pandas

In [11]:
import pandas as pd

In [12]:
csvData = pd.read_csv("DataDemo1.csv")

In [13]:
csvData

           Name  Matches    Runs
0   Virat Kohli      230  26,000
1  Rohit Sharma      180  18,000
2      MS Dhoni      340  32,000